<br><br>

    <div class="container">
        <h4>Purchase Order Profile</h4>
      <p>Purchase order history: List of client purchase, purchase date, total items and total cost:</p><br>

    <table class="table bg-transparent">
        <thead style="font-size: 12px">
            <tr>
                <th>Full Name</th>
                <th>Address</th>
                <th>BusNumber</th>
                <th>OrderNumber</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Discount?</th>
            </tr>
        </thead>
        <tbody style="font-size: 12px">
            <tr>
                <td>American Airline</td>
                <td>Georgia</td>
                <td>AA-122</td>
                <td>
                    <a routerLink="/product-order">AA127-128-129-1</a>
                </td>
                <td>Atlanta</td>
                <td>Georgia</td>
                <td>39681-0000</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>American Airline</td>
                <td>Georgia</td>
                <td>AA-453</td>
                <td>
                    <a routerLink="/product-order">AA127-128-130-2</a>
                </td>
                <td>Macon</td>
                <td>Georgia</td>
                <td>39611-0000</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>American Airline</td>
                <td>Georgia</td>
                <td>AA-227</td>
                <td>
                    <a routerLink="/product-order">AA127-128-131-3</a>
                </td>
                <td>Savannah</td>
                <td>Georgia</td>
                <td>39647-0000</td>
                <td>Yes</td>
            </tr>     
        </tbody>
    </table>
<!--<small><pagination-controls (pageChange)="p = $event"></pagination-controls></small>-->
</div>



<!--<tr *ngFor="let customer of customers | filter:filter | paginate: { itemsPerPage: 3, currentPage: p }; let i = index">
                <td><a [routerLink]="['/customers', customer.id]">{{customer.fullName}}</a></td>
                <td>{{customer.address1}}</td>
                <td>{{customer.address2}}</td>
                <td>{{customer.customer.id}}</td>
                <td>{{customer.city}}</td>
                <td>{{customer.state}}</td>
                <td>{{customer.zip}}</td>
                <td>{{customer.getsDiscount ? 'Yes':'No'}}</td>
</tr>-->
<!--<small><pagination-controls (pageChange)="p = $event"></pagination-controls></small>-->