
<br><br>
<div class="container">
    <h4>{{title}}</h4>
        <!--<caption>Product: &nbsp;&nbsp;{{product.name}}</caption>-->
    <br>
    
    <div class="row">
        
        <div class="col-sm-12">
            <form class="form-inline">
                <div class="form-group">
                    <!--<div class="input-group">
                        <input #ordersFilter type="text" class="form-control" style="width:200px; height:30px; font-size: 12px" placeholder="Search Customer Name" (keyup)="filterOrders(ordersFilter.value)">&nbsp;
                    </div>--> 
                </div>
                <button type="button" (click)="goToCreateOrder()" class="btn btn-info btn-sm">Create Order</button>
            </form>
        </div>
    </div>
    
</div>
