
<!--<div class="container">
  
  
  <button type="button" class="btn btn-primary" style="box-shadow: 0px 8px 16px 0px rgba(14, 13, 13, 0.342)">
    <a routerLink="/products" style="color:aliceblue">All Parts</a>



  </button>
</div>-->

<div class="container">
  
<h3 class="d-flex justify-content-center"><em>Welcome Middle of the Map Trucking</em></h3><br>
<!--<h5 class="blink_me text-center"><a href="https://www.midmaptrucking.com" style="color: crimson">"We Are Hiring !" [ *** click here *** ]</a></h5><br>-->
<!--<h6 class="blink_me text-center"><a href="https://www.midmaptrucking.com">"We Are Hiring" ... click me for more information.</a></h6>-->
<h6 class="d-flex justify-content-center"><em>featuring...&nbsp;</em></h6>
<div class="container text-center"><h5><a routerLink="/login"><i>PASSPORT</i> Status-Pro<small><i>&reg;</i></small></a></h5>
    Configure routine routes and scheduled pickups... indicate when and where a driver will be during certain periods...
    <br> 
    A full suite of management tools for organizing drivers, dispatchers and managers.
</div><br>

<div class="row">
  <div class="col-sm-3">
    <div class="card bg-transparent">
      <div class="card-body">
        <h5 class="card-title">User Management</h5>
        <p class="card-text">Real time Management tools for organizing drivers, loads and carriers...</p><br><br>
        <a href="/profile" class="btn btn-primary" style="box-shadow: 0px 8px 16px 0px rgba(14, 13, 13, 0.342)">User Profiler</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card bg-transparent">
      <div class="card-body">
        <h5 class="card-title">Customer Management</h5>
        <p class="card-text">Store your customer's contracted rates, preferences, and history with your company.</p><br>
        <a href="/customer" class="btn btn-primary" style="box-shadow: 0px 8px 16px 0px rgba(14, 13, 13, 0.342)">Cust/Manager</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card bg-transparent">
      <div class="card-body">
        <h5 class="card-title">Vehicle Management</h5>
        <p class="card-text">This delivery software tracks your vehicles and their required maintenance.</p><br>
        <a href="/vehicle" class="btn btn-primary" style="box-shadow: 0px 8px 16px 0px rgba(14, 13, 13, 0.342)">Freighter/mgr.</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card bg-transparent">
      <div class="card-body">
        <h5 class="card-title">Location Management</h5>
        <p class="card-text">Organize all addresses that your company has either picked up from or delivered to.</p><br>
        <a href="/location" class="btn btn-primary" style="box-shadow: 0px 8px 16px 0px rgba(14, 13, 13, 0.342)">Location/mgr.</a>
      </div>
    </div>
    
  </div>
  <p><br>
    Please <a routerLink="/login">sign in</a> or
    <a routerLink="/register">register</a>
  </p>
</div>




</div>






